@keyframes glowCorrect {
  from { box-shadow: 0 0 10px lime; }
  to { box-shadow: 0 0 30px lime; }
}

@keyframes glowWrong {
  from { box-shadow: 0 0 10px red; }
  to { box-shadow: 0 0 30px red; }
}

.timer-container {
  width: 100%;
  height: 15px;
  background: #222;
  margin-bottom: 20px;
  border-radius: 10px;
}
.timer-bar {
  height: 2%;
  background: linear-gradient(to right, #ff0, #f00);
  transition: width 1s linear;
}
